:root {
  --dark: #1d3146;
  --darker: #030229;
  --accent: #cc1111;
  --gray: #d3d2d0;
  --light: #f9f5eb;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  letter-spacing: 0.3rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--light);
  color: var(--dark);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  padding: 1rem;
  width: 100%;
  min-height: 20vh;
  gap: 70rem;
  color: var(--light);
  text-transform: uppercase;
}

.dice-roll {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem;
  gap: 1rem;
}

.dice-roll button {
  border: none;
  font-size: 48px;
  opacity: 80%;
  transition: 0.4s;
  cursor: pointer;
}

.dice-roll button:hover {
  opacity: 100%;
  transform: 0.4s;
  margin-right: 1rem;
}

.dice-roll button:active {
  -o-transform: rotate(720deg);
  -ms-transform: rotate(720deg);
  -moz-transform: rotate(720deg);
  -webkit-transform: rotate(720deg);
  transform: rotate(720deg);
}

.material-icons.md-light {
  color: whitesmoke;
}

main {
  min-height: 100vh;
}

.players {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  margin-top: 2rem;
  gap: 30rem;
}

.player1-score,
.player2-score {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(235, 241, 248, 0.7),
    5%,
    var(--gray)
  );
  min-height: 30vh;
  width: 100%;
  min-width: 20vh;
  font-size: 64px;
  font-weight: 500;
  color: var(--dark);
  border-radius: 2rem;
  border: 6px solid var(--dark);
}

.player1 h3,
.player2 h3 {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 700;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin-top: 1rem;
  gap: 1rem;
}

.card {
  background-color: var(--darker);
  border: none;
  border-radius: 0.5rem;
  color: var(--gray);
  font-size: 18px;
  font-weight: 700;
  min-height: 15vh;
  padding: 1rem;
  cursor: pointer;
}

.hover-fx:hover {
  background-color: var(--dark);
  transform: 0.4s;
  -o-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  -moz-transform: translateY(-15px);
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
}

.hover-fx:active {
  background-color: #29267e;
  -o-transform: translateY(15px);
  -ms-transform: translateY(15px);
  -moz-transform: translateY(15px);
  -webkit-transform: translateY(15px);
  transform: translateY(15px);
}

.card-flipped {
  background-color: #29267e;
}

.player-win {
  background: forestgreen;
  color: whitesmoke;
}

.player-lose {
  background: var(--accent);
  color: whitesmoke;
}

/*Sizing for different screens*/
@media (min-width: 256px) {
  header {
    flex-direction: column;
    width: 50%;
    gap: 3rem;
  }

  .players {
    gap: 2rem;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  header {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70%;
    gap: 10rem;
  }

  .players {
    gap: 5rem;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  header {
    flex-direction: row;
    width: 100%;
    gap: 50rem;
  }

  .players {
    gap: 30rem;
  }

  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
